[submodule "calmly"]
	path = calmly
	url = https://github.com/agext/calmly
[submodule "errors"]
	path = errors
	url = https://github.com/agext/errors
[submodule "levenshtein"]
	path = levenshtein
	url = https://github.com/agext/levenshtein
[submodule "regexp"]
	path = regexp
	url = https://github.com/agext/regexp
[submodule "uuid"]
	path = uuid
	url = https://github.com/agext/uuid
